// Screen size
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

// Colors
$dark-blue:      #5F9AFB;
$darker-blue:    #090624;
$dark-purple:    #6151E8;
$dark-pink:      #EE118D;
$neon-pink:      #FF5E85;
$light-gray:     #F7F9FF;
$lighter-gray:   #F5F5FC;
$soft-gray:      #FBFBFB;
$sky-gray:       #F9FDFF;
$dark-gray:      #3C3F40;
$dust-gray:      #EEEEEE;
$dark-night:     #2E2E2E;
$mauve:          #321E41;
$dark-mauve:     #2E2B45;
$orange:         #FFA45E;
$black:          #000000;
$white:          #FFFFFF;